name: Python Worker Tests

on:
    push:
        branches: [python-worker/init-worker]
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.11"
            - name: Install dependencies
              working-directory: ./python-worker
              run: python -m pip install --upgrade pip && pip install -r requirements.txt && pip install pytest
            - name: Run tests
              working-directory: ./python-worker
              run: pytest -q
