name: Backend Tests

on:
    push:
        branches: [backend/init-api]
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [20]
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install dependencies
              working-directory: ./backend
              run: npm ci
            - name: Run tests
              working-directory: ./backend
              run: npm test --silent
